body{
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid lightgray;
    padding: 0;
}

th {
    background-color: gray;
    color: white;
    border: 1px solid lightgray;
    padding: 0 5px;
}

input.cell {
  border: none;
  width: 80px;
  padding: 0 5px;
  height: 25px;
}

input.cell:focus {
    outline: none;
    background-color: lightyellow;
}